html, body {
	height: 100%;
	width: 100%;
}

#linhaCorpo {
	padding-left: 0px;
	padding-right: 0px;
	height: calc(100% - 51px);
}

#painelInfo {
	position: absolute;
	bottom: 15px;
	right: 15px;
	padding: 5px;
}

#painelInfo img {
	width: 310px;
	padding-bottom: 5px;
	padding-top: 0px;
}