/*Corpo da página */
body {
	background-color: black;
	height: 100%;
	width: 100%;
}

#linhaCorpo {
	padding-left: 0px;
	padding-right: 0px;
	height: calc(100% - 51px);
}

/* Galeria */
ul {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

ul li {
	list-style: none;
	margin-bottom: 1px;
	margin-top: 1px;
}

ul li img {
	cursor: pointer;
}

.modal-body {
	padding: 5px !important;
}

.modal-content {

}

.modal-dialog img {
	text-align: center;
	margin: 0 auto;
}

.controls {
	width: 70px;
	display: block;
	font-size: 11px;
	padding-top: 8px;
	font-weight: bold;
}

.next {
	float: right;
	text-align: right;
}

/*override modal for demo only*/
.modal-dialog {
	max-width: 500px;
	padding-top: 90px;
}

@media screen and (min-width: 768px) {
	.modal-dialog {
		width: 500px;
		padding-top: 90px;
	}
}

@media screen and (max-width: 1500px) {
	#ads {
		display: none;
	}
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, 
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
		.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, 
			.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
				.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, 
					.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
						.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, 
							.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-right: 1px;
	padding-left: 1px;
}

li .img-responsive {
	clip: rect(0px,100px,100px,0px);
}

#legenda {
	width: 100%;
	text-align: center;
	padding-top: 8px;
	margin-bottom: -4px;
	color: black;
}

/* Modal envio de imagens */
#filestye-3 {
	position: absolute; clip: rect(0px 0px 0px 0px);
}

.modal-body {
	margin-right: 10px;
	margin-left: 10px;
}

.left {
	float: left;
	width: 48%;
	margin-right: 5px;
}

.right {
	float: right;
	width: 50%;
}
