.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase .navbar .container {
	text-align: center;
  	width: auto;
}

.container {
	width: 98.5%;
}

#painel1 {
	margin-top: 10px;
    padding: 10px;
    border: 2px solid #DDDDDD; 
    background-color: #FFFFFF;
    height: 500px;
}

#painel2{
	margin-top: 0px;
	text-align: center;
	height: 400px;
    padding: 5px;
}

#painel4{
	text-align: center;
    margin-top: 10px;
    padding: 10px;
}

#painel5{
	text-align: right;
    margin-top: 10px;
    padding: 17px;
}
    
#nomerua{
	width: 80% ;
}
   
#logo{
	height: 35px;
	width: 45px;
}

#alerta{
	margin: auto;
	text-align: center;
}

#alertaImagem{
	width: 20px;
	height: auto;
}

#textoMapaEsquerdo{
	
	font-size: 13px;
	text-align: left;
	white-space: nowrap;
	margin-left: 10px;
	padding-bottom: 10px;
}

#row2{
	padding-right: 20px;
	padding-left: 20px;
}

#tabelaInfo{
	padding-top: 25px;
	padding-bottom: 15px;
}

.tituloTabela{
	font-weight: bold;
}

.table-striped{
	text-align: left;
}

#mapaClima{
	padding-right: 10px;
}

#previsaoTempo{
	margin-left: -20px;
}